<h1><%= @collection.title %></h1>

<% if @collection.games.any? %>
  <ul>
    <% @collection.games.each do |game| %>
      <li><%= link_to game.name_game, game_path(game) %></li>
    <% end %>
<% else %>
    <p>Você ainda não adicionou jogos à coleção.</p>
<% end %>
</ul>

<% if @collection.user == current_user %>
  <%= button_to 'Excluir Coleção', collection_path, method: :delete %></p>
<% end %>

<%= link_to "Back", user_path(current_user) %>