<div id="<%= dom_id genre %>">
  <p>
    <strong>Name genre:</strong>
    <%= genre.name_genre %>
  </p>

  <p>
    <strong>Description genre:</strong>
    <%= genre.description_genre %>
  </p>

</div>
