<div id="<%= dom_id developer %>">
  <p>
    <strong>Name developer:</strong>
    <%= developer.name_developer %>
  </p>

  <p>
    <strong>Description developer:</strong>
    <%= developer.description_developer %>
  </p>

</div>
