<div id="<%= dom_id platform %>">
  <p>
    <strong>Name platform:</strong>
    <%= platform.name_platform %>
  </p>

  <p>
    <strong>Description platform:</strong>
    <%= platform.description_platform %>
  </p>

</div>
