<div id="<%= dom_id game_midium %>">
  <p>
    <strong>Screenshotgamemidia:</strong>
    <%= game_midium.screenshotGameMidia %>
  </p>

  <p>
    <strong>Videogamemidia:</strong>
    <%= game_midium.videoGameMidia %>
  </p>

</div>
