<h1>Editing game midium</h1>

<%= render "form", game_midium: @game_midium %>

<br>

<div>
  <%= link_to "Show this game midium", @game_midium %> |
  <%= link_to "Back to game midia", game_midia_path %>
</div>
