<p style="color: green"><%= notice %></p>

<h1>Game midia</h1>

<div id="game_midia">
  <% @game_midia.each do |game_midium| %>
    <%= render game_midium %>
    <p>
      <%= link_to "Show this game midium", game_midium %>
    </p>
  <% end %>
</div>

<%= link_to "New game midium", new_game_midium_path %>
