<div id="<%= dom_id publisher %>">
  <p>
    <strong>Titlepublisher:</strong>
    <%= publisher.titlePublisher %>
  </p>

  <p>
    <strong>Descriptionpublisher:</strong>
    <%= publisher.descriptionPublisher %>
  </p>

</div>
