<div id="<%= dom_id publisher %>">
  <p>
    <strong>Name publisher:</strong>
    <%= publisher.name_publisher %>
  </p>

  <p>
    <strong>Description publisher:</strong>
    <%= publisher.description_publisher %>
  </p>

</div>
