<h1>Solicitações de amizade</h1>

<% current_user.received_friend_requests.each do |friend_request| %>
  <div>
    <%= friend_request.requester.nickname %> quer ser seu amigo.
    <%= button_to "Aceitar", accept_user_friend_request_path(current_user, friend_request), method: :put %> 
    <%= button_to "Recusar", user_friend_request_path(current_user, friend_request), method: :delete %>
  </div>
<% end %>