name: CI

on:
  push:
    branches: [ Alexandre#30 ]
  pull_request:
    branches: [ Alexandre#30 ]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v1
      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.2.0
      - name: Install dependencies
        run: |
         gem install bundler
         bundle install --jobs 4 --retry 3
      - name: Run tests
        run: bundle exec rails test