name: CI

on:
  push:
    branches: [ Alexandre#30 ]
  pull_request:
    branches: [ Alexandre#30 ]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@359bebbc29cbe6c87da6bc9ea3bc930432750108
        with:
          ruby-version: head
          bundler-cache: true
      - name: Install dependencies
        run: |
         gem install bundler
         bundle install --jobs 4 --retry 3
      - name: Run tests
        run: bundle exec rails test