name: CI

on:
  push:
    branches: [ Alexandre#30 ]
  pull_request:
    branches: [ Alexandre#30 ]

jobs:
  test:
    runs-on: ubuntu-22.04

    services:
      db:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.138.0
        with:
          ruby-version: 3.2.0
      - name: Install dependencies
        run: bundle install
      - name: Set up database and run tests
        env: 
          DATABASE_URL : postgres://postgres:password@localhost:5432/test
          RAILS_ENV : test
        run: |
          bundle exec rails db:create
          bundle exec rails db:schema:load
          bundle exec rails test